.tile {
    max-width: 300px;
    width: 300px;
    height: 150px;
    cursor: pointer;
}

.tile:hover {
    opacity: 0.8;
}

.tile-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}