{{> accounts-header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <a href="/" class="btn btn-outline-primary mb-3">Back to home</a>
            <h2>Account Settings</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#change-password" class="list-group-item list-group-item-action">Change password</a>
                        <a href="#account-data" class="list-group-item list-group-item-action">Change profile data</a>
                        <a href="#avatar" class="list-group-item list-group-item-action">Change avatar</a>
                        <a href="#email-address" class="list-group-item list-group-item-action">Change email address</a>
                        <a href="#agreements" class="list-group-item list-group-item-action">Change agreements</a>
                        <a href="#close-account" class="list-group-item list-group-item-action">Close account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="change-password">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="float-left">Change password</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/password">
                        <div class="form-group">
                            <label>Current password</label>
                            <input type="password" class="form-control" name="current-password" placeholder="Current password">
                        </div>
                        <div class="form-group">
                            <label>New password (must be at least 8 characters)</label>
                            <input type="password" class="form-control" name="new-password" placeholder="New password" pattern=".{8,}" required>
                        </div>
                        <div class="form-group">
                            <label>Repeat new password</label>
                            <input type="password" class="form-control" name="repeat-new-password" placeholder="Repeat new password" pattern=".{8,}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="account-data">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header" >
                    <h4>Account data</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/data">
                        <div class="form-group">
                            <label>Nickname</label>
                            <input type="text" class="form-control" name="nickname" placeholder="Nickname visible to others">
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="avatar">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header" >
                    <h4>Avatar</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/avatar" accept=".png,.jpg,.jpeg,image/*" enctype="multipart/form-data">
                        <img src="#" class="img-thumbnail img-fluid mb-4">
                        <div class="form-group">
                            <input type="file" name="avatar">
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="email-address">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header" >
                    <h4>Email address</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/email">
                        <label>Every time when you change email, you must verify it once again</label>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="text" class="form-control" name="email" placeholder="Contact email address">
                        </div>
                        <div class="form-group">
                            <label>Confirm your current password</label>
                            <input type="password" class="form-control" name="current-password" placeholder="Current password">
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="agreements">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header" >
                    <h4>Agreements</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/agreements">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="newsletter"> Send me information about new products and services, deals or recommendations by my mail.
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="marketing"> I accept the sending of advertising material related to relevant third-party products and services, via email.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" id="close-account">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header" >
                    <h4>Close account</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/accounts/remove">
                        <div class="form-group">
                            <label>Confirm your current password to proceed removal</label>
                            <input type="password" class="form-control" name="current-password" placeholder="Current password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="confirm"> Deleting your account is an irreversible process, which we can't revert even if you perform it by accident. I understand and accept this.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-danger">Close account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> accounts-footer}}
