{{> accounts-header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
            <h2>Sign In to your account</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/accounts/login">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="email" placeholder="Email Address" autofocus required>
                        </div>
                        <div class="form-group">
                            <div>
                                <label class="float-left">Password</label>
                                <a href="/forgot-password" class="float-right" required>Forgot password?</a>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <input type="hidden" name="_csrf" value="{{csrf}}" hidden/>
                        <button type="submit" class="btn btn-primary form-control">Sign In</button>
                        <div class="form-group small mt-3 text-muted">
                            <input type="hidden" hidden name="g-recaptcha-response" id="recaptcha-response">
                            <label>
                                This site is protected by reCAPTCHA and the Google
                                <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
                                <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
                            </label>
                        </div>
                    </form>
                    <hr />
                    <div class="text-center">
                        <label>Don't have an account? <a href="/accounts/register">Create one now!</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> recaptcha}}
{{> accounts-footer-narrow}}
