.tile {
    max-width: 240px;
    width: 240px;
    height: 120px;
    cursor: pointer;
}

.tile:hover {
    opacity: 0.8;
}

.tile-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

@media (max-width: 575px) {
    .tile {
        max-width: 300px;
        width: 300px;
        height: 150px;
    }
}
